<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-car"></i> Estacionamiento</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarID">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLinkActive="active"  routerLink="/estacionamiento/listaregistros">Registros</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLinkActive="active"  routerLink="/tarifa/obtenertarifa">Tarifas</a>
            </div>
            
            <!-- <div class="navbar-nav">
                <a class="nav-link active" routerLinkActive="active"  routerLink="/registrar" aria-current="page">Registrar Tarifa</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLinkActive="active"  routerLink="/actualizar">Actualizar Tarifa</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLinkActive="active"  routerLink="/borrar">Eliminar Tarifa</a>
            </div> -->
        </div>
    </div>
</nav>  