* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.tarifas-container {
    margin-top: 20px;
    width: 100%;
    max-width: 950px;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.15);
    height: 550px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: black;
}

.tarifas-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tarifas-table th, 
.tarifas-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tarifas-table th {
    color: white;
    background-color: #343a40; /* Oscuro para encajar con "bg-dark" */
}

.tarifas-table tr:hover {
    background-color: #f1f1f1;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre los botones */
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Botón para editar */
.actualizar-btn {
    background-color: #2980b9;
}

.actualizar-btn:hover {
    background-color: #1f6b93;
}

/* Botón para nuevo registro */
.nuevo-btn {
    margin: 10px 0;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

.nuevo-btn:hover {
    background-color: #45a049;
}

/* Botón para eliminar */
.eliminar-btn {
    background-color: #e74c3c;
}

.eliminar-btn:hover {
    background-color: #c0392b;
}

/* Botón para ticket de salida */
.salida-btn {
    background-color: #4CAF50;
}

.salida-btn:hover {
    background-color: #45a049;
}
